[submodule "www/htdocs/vendor/bootstrap"]
	path = www/htdocs/vendor/bootstrap
    url = https://github.com/twbs/bootstrap.git
    ignore = dirty
[submodule "www/htdocs/vendor/clipboard.js"]
	path = www/htdocs/vendor/clipboard.js
    url = https://github.com/zenorocha/clipboard.js.git
    ignore = dirty
[submodule "www/htdocs/vendor/clippy.js"]
	path = www/htdocs/vendor/clippy.js
    url = https://github.com/smore-inc/clippy.js.git
    ignore = dirty
[submodule "www/vendor/facebook/xhp-lib"]
	path = www/vendor/facebook/xhp-lib
    url = https://github.com/facebook/xhp-lib.git
    ignore = dirty
[submodule "nginx-conf/ssl"]
	path = nginx-conf/ssl
	url = https://gitlab.com/millinon/nginx-ssl-conf.git
