

/* ==========================================================================
Author's custom styles
========================================================================== */

.navbar-brand {
		font-family: 'Montserrat', sans-serif;
		//		font-size: 24pt;
		font-size: 8em;
		margin-top: 16pt;
		margin-bottom: 4pt;
		//		padding-bottom: -8pt;
}

.centered {
		text-align: center;
}

.jumbotron {
		margin-top: 10pt;
		//		margin-bottom: 4pt;
}

body {
		padding-top:50px;
		padding-bottom: 20px;
}

.formgroup {
		border: 4px solid;
		border-color: #FFF;
		border-radius: 8px;
		background-color: #EEE;

		margin-top:2px;
		margin-bottom:2px;
		text-align: left;
}

.row {
		text-align: center;
}

.input-group-addon {
		background-color: #337ab7;
		color: white;
		margin: 2px;
}

.btn {
		margin-top:2px;
		margin-bottom:2px;
}

.equal{
		margin-bottom: -99999px;
		padding-bottom: 99999px;
		background-color:#efefef;
}

.equalrow {
		overflow: hidden; 
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
		.navbar-brand {
				font-size: 44pt;
				margin-top: 16pt;
				margin-bottom: -8pt;
				text-align: center;
		}

}

@media only screen 
and (max-width : 320px) {
		.navbar-brand {
				font-size: 44pt;
				margin-top: 16pt;
				margin-bottom: -8pt;
				text-align: center;
		}

}

/*
.container-xs-height {
		display:table;
		padding-left:0px;
		padding-right:0px;
}
.row-xs-height {
		display:table-row;
}
.col-xs-height {
		display:table-cell;
		float:none;
}

@media (min-width: 768px) {
		.container-sm-height {
				display:table;
				padding-left:0px;
				padding-right:0px;
		}
		.row-sm-height {
				display:table-row;
		}
		.col-sm-height {
				display:table-cell;
				float:none;
		}
}
@media (min-width: 992px) {
		.container-md-height {
				display:table;
				padding-left:0px;
				padding-right:0px;
		}
		.row-md-height {
				display:table-row;
		}
		.col-md-height {
				display:table-cell;
				float:none;
		}
}
@media (min-width: 1200px) {
		.container-lg-height {
				display:table;
				padding-left:0px;
				padding-right:0px;
		}
		.row-lg-height {
				display:table-row;
		}
		.col-lg-height {
				display:table-cell;
				float:none;
		}
}
*/
