<?hh

class aws_config {

    const credentials_ini = "../credentials.ini";

    static function primary_cfg(): array { /* profile with permissions to CF, DYDB, GL, S3 */
        return array(
                'profile' => "SOME_PROFILE",
                'region' => "SOME_REGION");
    }

    static function URL_cfg(): array { /* profile with permissions to generate S3 upload / viewing URLs */
        return array(
                /* WARNING: this profile's access key will be viewable to users in generated URLs */
                'profile' => "SOME_PROFILE",
                'region' => "SOME_REGION");
    }

    const LINK_TABLE = "SOME_LINK_TABLE"; /* name of the DynamoDB link table */

    const LOG_TABLE = "SOME_LOG_TABLE"; /* name of the DynamoDB logging table */

    const PUB_BUCKET = "SOME_BUCKET"; /* bucket to store public files in */
    const PRIV_BUCKET = "SOME_OTHER_BUCKET"; /* bucket to store private files in */

    const CF_DIST_ID = "SOMEDISTRIBUTIONID"; /* cloudfront distribution, CDN for uploaded files -- set to "" to disable */
}
