

/* ==========================================================================
Author's custom styles
========================================================================== */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.input-group, .input-group-addon .submit-btn{
    margin-bottom: 2px;
    font-size: 20px;
}

#file-group, #file-input-group {
    height: 60px;
    font-size: 20px;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 8em;
    margin-top: 16pt;
    margin-bottom: 4pt;
}

.centered {
    text-align: center;
}

.jumbotron {
    margin-top: 10pt;
    margin-bottom: 4pt;
}

body {
    padding-top:50px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.row {
    text-align: center;
}

.input-group-addon {
    background-color: #337ab7;
    color: white;
    font-size: 20px;
}


.btn {
    margin-top:2px;
    margin-bottom:2px;
}

html {
    position: relative;
    min-height: 100%;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;

    font-family: 'Montserrat', sans-serif;
    color: #9d9d9d;
    font-size: 18pt;

    padding-top: 10px;
    padding-bottom: 10px;


    background-image: -webkit-linear-gradient(bottom,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(bottom,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to top,#3c3c3c 0,#222 100%);

    /*
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
     */
}

.input-none {
    display: none;
}

.form-container {
    margin: 0px;
    padding: 0px;
}

.file-label {
    margin-left: 5px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .navbar-brand {
        font-size: 44pt;
        margin-top: 16pt;
        margin-bottom: -8pt;
        text-align: center;
    }
}

@media only screen 
and (max-width : 320px) {
    .navbar-brand {
        font-size: 44pt;
        margin-top: 16pt;
        margin-bottom: -8pt;
        text-align: center;
    }
    
}

.tabs {
    max-width: 90%;
    float: none;
    list-style: none;
    padding: 0;
    margin: 75px auto;
    border-bottom: 4px solid #9d9d9d;
}

.tabs:after {
    content: '';
    display: table;
    clear: both;
}

.tabs input[type=radio] {
    display:none;
}

.tabs label {
    display: block;
    float: left;
    width: 33.3333%;

    color: #ccc;
    font-weight: normal;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 2;

    cursor: pointer;
    box-shadow: inset 0 4px #9d9d9d;
    border-bottom: 4px solid #9d9d9d;

    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
    transition: all 0.5s;
}

.tabs label span {
    display: none;
}

.tabs label i {
    padding: 5px;
    margin-right: 0;
}

.tabs label:hover {
    color: #3498db;
    box-shadow: inset 0 4px #3498db;
    border-bottom: 4px solid #3498db;
}

.tab-content {
    display: none;
    /*width: 60%;*/
    /*float: left;*/
    /*margin: 0 auto;*/
    padding: 15px;
    box-sizing: border-box;

    background-color:#ffffff;
}

.tab-content * {

    -webkit-animation: scale 0.5s linear;
    -moz-animation: scale 0.5s linear;
    animation: scale 0.5s linear;
}

@keyframes scale {

    0% { 
        transform: scale(0.99);
        opacity: 0;
    }

    50% {
        transform: scale(1.01);
        opacity: 0.5;
    }

    100% { 
        transform: scale(1);
        opacity: 1;
    }

}

.tabs [id^="tab"]:checked + label {
    background: #FFF;
    box-shadow: inset 0 4px #3498db;
    border-bottom: 4px solid #3498db;
    color: #3498db;
}

#tab_url:checked ~ #tab-url-form,
#tab_file:checked ~ #tab-file-form,
#tab_del:checked ~ #tab-del-form {
    display: block;
}

@media (min-width: 768px) {   
    .tabs i {
        padding: 5px;
        margin-right: 10px;
    }

    .tabs label span {
        display: inline-block;
    }

    .tabs {
        max-width: 750px;
        margin: 50px auto;
    }
}

.copy-message {
    text-align: center;
    margin: 10px auto;
    width: 20%;
    display: none;
}

.copy-btn {
    margin: 10px auto;
}
